@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a;
}
